.heading-1 {
  font-weight: 400;
  font-family: var(--font-display);
}

.heading-2 {
  font-weight: 400;
  font-family: var(--font-display);
}

.heading-3 {
  font-weight: 400;
  font-family: var(--font-display);
}

.heading-4 {
  font-weight: 400;
  font-family: var(--font-display);
  font-size: 1.9rem;
}

.heading-4 heading-4--dark {
  color: var(--color-grey-dark-1);
}
